.apk
.gradle
/local.properties

/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/datasources.xml
/.idea/dataSources.ids

.DS_Store
/build
/captures

/androidTest
/test
/key
/export

*.iml
*.iws
*.ipr
*~
*.swp
/*/build
gradle.properties
signing.properties
import-summary.txt
manifest-merger*.txt